@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-primary font-sans antialiased;
  }
  ::selection {
    @apply bg-primary text-white;
  }
}
